src/main/mule/global/retrievefastgo-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrievefastgo-sapi-main">
        <http:listener config-ref="retrievefastgo-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="cdbc9550-dcdd-4cc3-b083-cc6b34122b84" message="#[attributes.headers.transactionId]"/>
		<apikit:router config-ref="retrievefastgo-sapi-config" />
		</flow>
        <flow name="retrievefastgo-sapi-console">
        <http:listener config-ref="retrievefastgo-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievefastgo-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            
        </error-handler>
    </flow>
    <sub-flow name="retrievefastgo-sapiSub_Flow-variables" doc:id="b94d4b22-ded0-40da-b021-1c3496d33aaa" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievefastgo-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="09dd123a-3144-451f-855f-1ed3df4a577e" name="retrievefastgo-sapiSub_Flow-variables"/>
		<logger level="INFO" doc:name="Logger" doc:id="522ecbc6-6414-461e-892b-6bf6eb18814a" message="In Path get:\(transportType)\(transportCompany)\routes:fastgo-sapi-config with id #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="77c14a16-5ead-4125-a5e2-9d58b75e35e0" name="getRoutes-FastGoSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="ff406c5c-eb3d-4c4c-9721-a187385bf219" message="from response get:\(transportType)\(transportCompany)\routes:fastgo-sapi-config with id #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievefastgo-sapi-config">
		<flow-ref doc:name="Flow Reference1" doc:id="1eda214d-003a-46f2-bd4f-5b309d6afe34" name="retrievefastgo-sapiSub_Flow-variables" />
		<logger level="INFO" doc:name="Logger" doc:id="a347fa2d-2b96-440f-b1d2-1b7989e73bec" message="In Path get:\(transportType)\(transportCompany)\schedules:fastgo-sapi-config with id #[vars.headers.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="dcbb2e48-46ed-49da-a442-b90fb5d6579e" name="getSchedules-FastGoSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="a6d41829-77a1-4937-868e-6d02b342727b" message="from responseget:\(transportType)\(transportCompany)\schedules:fastgo-sapi-config with id #[vars.transactionId]"/>
    </flow>
</mule>
