src/main/mule/global/retrieveroutesandschedulesxpapi-mobile.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrieveroutesandschedulesxpapi-mobile-main">
        <http:listener config-ref="retrieveroutesandschedulesxpapi-mobile-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveroutesandschedulesxpapi-mobile-config" />
        
    </flow>
    <flow name="retrieveroutesandschedulesxpapi-mobile-console">
        <http:listener config-ref="retrieveroutesandschedulesxpapi-mobile-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveroutesandschedulesxpapi-mobile-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<sub-flow name="retrieveroutesandschedulesxpapi-mobile-Sub_Flow" doc:id="58fa685e-7d2b-4d73-9a4f-5b42dba54213" >
		<ee:transform doc:id="271555fc-2a94-429c-bb1f-a62639fab76e">
            <ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'transportType'  default "no input"]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="companyName" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.companyName default "no input"]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.departureLocation default "no input"]]></ee:set-variable>
				<ee:set-variable variableName="requestTimezone" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.requestTimezone  default "no input"]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.destinationLocation  default "no input"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieveroutesandschedulesxpapi-mobile-config">
        <flow-ref doc:name="Flow Reference" doc:id="261568fe-cc41-4b1e-b4bd-0edf83bd52d7" name="retrieveroutesandschedulesxpapi-mobile-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="da8aa895-e9c4-4b5b-96dd-57dba035be99" message="#[vars]"/>
		<flow-ref doc:name="Flow Reference" doc:id="39a22d7a-844e-4721-8099-7d3f64c8ba05" name="routesSub_Flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    companyCode: "TransNational",
    originLocation: {
      locationCode: "BEN-SG",
      locationDesc: "Beauna Vista Singapore"
    },
    destinationLocation: {
      locationCode: "KLG-MY",
      locationDesc: "Klang Malaysia"
    }
  }, 
  {
    companyCode: "TransNational",
    originLocation: {
      locationCode: "BEN-SG",
      locationDesc: "Beauna Vista Singapore"
    },
    destinationLocation: {
      locationCode: "KLG-MY",
      locationDesc: "Klang Malaysia"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveroutesandschedulesxpapi-mobile-config">
        <flow-ref doc:name="Flow Reference" doc:id="a6c46e03-3ecc-4758-b8de-133e78e9ef9d" name="retrieveroutesandschedulesxpapi-mobile-Sub_Flow" />
		<logger level="INFO" doc:name="Logger" doc:id="86b03f3d-bcde-4036-b476-c0ac1a4b94ab" message="#[vars]"/>
		<flow-ref doc:name="Flow Reference" doc:id="96abaa8c-ab2a-4665-b329-dfb7a8e478c7" name="schedulesSub_Flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    companyName: "TransNational",
    availableSeats: 20,
    departureDateTime: "2019-04-30T16:41:41",
    travelRoute: {
      destinationLocation: {
        locationCode: "BEN-SG",
        locationDesc: "Beauna Vista Singapore"
      }
    },
    originLocation: {
      locationCode: "BEN-SG",
      locationDesc: "Beauna Vista Singapore"
    }
  }, 
  {
    companyName: "FastGo",
    availableSeats: 30,
    departureDateTime: "2019-04-30T18:41:41",
    travelRoute: {
      destinationLocation: {
        locationCode: "KLG-MY",
        locationDesc: "Klang Malaysia"
      }
    },
    originLocation: {
      locationCode: "BL-SG",
      locationDesc: "Beauna Vista Singapore"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
